.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  outline: dotted red;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  align-self: flex-start;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  margin-top: 0;
  margin-bottom: 0;
  height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;

}

.feinman__title {
  margin-top: 100px;
  width: 648px;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 0;
  z-index: 1;
}

.feinman__subtitle {
  margin-top: 70px;
  align-self: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  margin: 0;
}

.feinman__link:hover {
  outline: dotted red;
}

.feinman__illustration {
  background-image: url(../images/feinman.png.);
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.table_theme_dark {
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table_cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  background-image: url(../images/triangle.svg);
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer__columns {
  width: 90%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.footer_column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
}

.footer__author {

  left: 0;
  bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer_column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer__column_links:last-of-type {
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:hover {
  outline: dotted red;
}

.footer_column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
